@model DataViewListTask

@{
    ViewData["Title"] = "ListTasksForDay";
}

<h1>ListTasksForDay</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <form action="Delete" method="post">
                    <input type="hidden" name="id" value="@item.TodoTaskID" />
                    <input type="hidden" name="dateTime" value="@item.DateTime" />
                    <input type="submit" value="Delete" class="btn btn-warning"/>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<div>

    <h2>Add task</h2>
    <form action="Add" method="post" class="form-inline row">
        <div class="form-group mr-4 col-2">
            <label class="sr-only">DateTime</label>
            <select class="form-control" name="DateTime" asp-items="@new SelectList(Model.DropDownTimes)"></select>
        </div>
        <div class="form-group mr-4 col-6">
            <label class="sr-only">Description</label>
            <input type="text" name="Description" value="" class="form-control col-12"/>
        </div>
        <input type="submit" value="Add" class="btn btn-success"/>
    </form>
</div>
